<ion-tabs>
  <ion-tab-bar slot="bottom" class="sa-tabbar">
    <ion-tab-button tab="diagnostic">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Diagnostic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parcelles">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Parcelles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assistant">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Assistant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendrier">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendrier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alertes">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>